.header-container {
display: flex;
align-items: center;

min-width: 1440px;
min-height: 116px;

background-color: #fff;
}

.logo-header {
font-family: 'Homemade Apple';
font-weight: 400;
font-size: 18px;
line-height: 2.16;
color: #231F20;

margin-left: 80px;
}
.navigation-header {
margin-right: auto;
}
.site-nav-list-header {
display: flex;
gap: 31px;

margin-right: 375px;
margin-left: 433px;
}
.item-header {
gap: 31px;
font-size: 18px;
line-height: 1.22;

color: #000000;
}
.link-header {
    &:hover ,
    &:focus {
        color: #F7941E;
    }
}
.button-header {
font-size: 18px;
line-height: 1.22;
padding-top: 13px;
padding-bottom: 13px;

cursor: pointer;


color: #F7941E;
border: 1px solid #F7941E;
background-color: transparent;
border-radius: 5px;

margin-right: 34px;
}
