.header-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 40px;

}

.logo-header {
  font-family: 'Homemade Apple';
  font-weight: 400;
  font-size: 18px;
  line-height: 2.16;
  color: #231f20;



}

.site-nav-list-header {
  display: flex;
  gap: 31px;


  margin-left: 433px;
}
.item-header {
  gap: 31px;
  font-size: 18px;
  line-height: 1.22;

  color: #000000;
}
.link-header {
  font-size: 18px;
  line-height: calc(22 / 18);
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
  &:hover,
  &:focus {
    color: #f7941e;
  }
}
.button-header {
  padding: 13px 20px;
  color: #f7941e;
  border: 1px solid #f7941e;
  background-color: transparent;
  margin-right: 40px;
  margin-left: auto;
}
