
.logo-header {
font-family: 'Homemade Apple';
font-weight: 400;
font-size: 18px;
line-height: 2.16;

color: #231F20;
}
.site-nav-list-header {
display: flex;
}
.item-header {
gap: 31px;
font-size: 18px;
line-height: 1.22;

color: #000000;
}
.button-header {
font-size: 18px;
line-height: 1.22;
margin-top: 13px;
margin-bottom: 13px;

color: #F7941E;
border: 1px solid #F7941E;
background-color: transparent;
border-radius: 5px;
}
