.together-card {
  width: 719px;
  height: 700px;
}

.hero-wrap {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}

.hero-title {
  padding: 154px 126px 135px 162px;
}

.hero-header {
  font-size: 56px;
  line-height: 1.23;
  color: $mainColor;
  margin-bottom: 36px;
}

.hero-text {
  font-size: 20px;
  line-height: 1.4;
  color: $mainColor;
  margin-bottom: 52px;
}

.hero-bth {
  border: none;
  color: $whiteColor;
  background-color: $orangeColor;
}
