.blog-list-our-best {
  padding-top: 40px;
  padding-bottom: 80px;
}
.container-blog-list-our-best {
  margin: 0 auto;
}

.blog-list {
  display: flex;
  gap: 30;
}
.blog-iteam {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 50px;
  
}
.blog-title {
  width: 570px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.4;
  color: $mainColor;
}
.blog-text {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.4;
  color: $mainColor;
}
.blog-link {
  font-size: 14px;
  line-height: 1.4;
  color: $mainColor;
  &:hover,
  &:focus {
    color: $orangeColor;
  }
}


 