.blogs-wrap {
  display: flex;

  background-color: #231f20;

  margin-bottom: 40px;
  margin: 0 auto;

  margin-bottom: 40px;
}

.blogs-title {
  font-weight: 400;
  color: $mainColor;
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 23px;
}

.blogs-text {
  color: #000000;

  font-size: 18px;
  line-height: 1.33;

  text-align: center;

  margin-bottom: 71px;
}

.blogs-name {
  color: #ffffff;

  font-size: 14px;
  line-height: 1.42;

  margin-bottom: 27px;
}

.blogs-post-title {
  color: #ffffff;

  color: $whiteColor;

  font-size: 48px;
  line-height: 1.2;

  margin-bottom: 60px;
}

.blogs-link {
  color: $whiteColor;

  font-size: 18px;
  line-height: 1.38;
}

.blogs-wrapper {
  padding-top: 63px;
  padding-left: 78px;
}
