.ready {
  background-color: $orangeColor;
  padding: 81px 235px 69px 235px;
  display: flex;
  gap: 229px;
}

.ready__title {
  font-size: 32px;
  line-height: 1.4;
}

.ready__text {
  font-size: 32px;
  line-height: 1.4;
  font-weight: normal;
}

.ready__list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ready__button {
  cursor: pointer;
  width: 200px;
  height: 48px;
  padding: 17px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: $logoColor;
  color: $whiteColor;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.ready__button--transparent {
  background-color: transparent;
  color: $mainColor;
}
