.container {
  width: 1440px;
  margin: auto;
  display: flex;
  background-color: $firstBgColor;
}

.second-page {
  padding-left: 112px;
  padding-top: 164px;
  padding-right: 413px;
  padding-bottom: 227px;
}

.title-of-work {
  font-size: 32px;
  line-height: 45px;
  color: $mainColor;
  margin-bottom: 23px;
}

.work-text-title {
  font-size: 20px;
  line-height: 28px;
  color: $mainColor;
  width: 440px;
  padding-left: 112px;
  padding-top: 232px;
  margin-bottom: 35px;
}

.work-button {
  border: 1px solid #f7941e;
  color: $orangeColor;
  background-color: $firstBgColor;
}

.thanks-image {
  width: 733px;
  height: 618px;
}
