.secon-page {
background-color: $firstBgColor;
}

.container-sec {
  
  display: flex;
 
}

.second-page {
  padding-left: 112px;
  padding-top: 164px;
  padding-right: 166px;
  padding-bottom: 97px;
}

.title-of-work {
  font-size: 32px;
  line-height: 45px;
  color: $mainColor;
  margin-bottom: 23px;
}

.work-text-title {
  font-size: 20px;
  line-height: 28px;
  color: $mainColor;
  
  margin-bottom: 35px;
}

.work-button {
  border: 1px solid #f7941e;
  color: $orangeColor;
  background-color: $firstBgColor;
}

.thanks-image {
  width: 722px;
  height: 618px;
}
