<footer>
  <ul class="footer-menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <a href="#" class="logo">logo</a>
  <ul class="footer-menu">
    <li><a href="#">Service </a></li>
    <li><a href="#">Blog</a></li>
  </ul>
  <ul class="socials">
    <li class="socials-item">
      <a href="#">
        <svg class="icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a href="#">
        <svg class="icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a href="#">
        <svg class="icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a href="#">
        <svg class="icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item">
      <a href="#">
        <svg class="icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-pinterest"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="copyright">&#169; 2010 - 2020</p>
  <p class="privacy"><a href="#">Privacy - Terms</a></p>
</footer>
