<footer>
  <div class="footer-nav">
    <ul class="nav-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <a href="#" class="logo logo--orange">logo</a>
    <ul class="nav-list">
      <li><a href="#">Service </a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  <ul class="footer-socials">
    <li class="footer-item">
      <a href="#" class="footer-link">
        <svg class="footer-icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">
        <svg class="footer-icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">
        <svg class="footer-icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">
        <svg class="footer-icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">
        <svg class="footer-icon" width="38.4" height="38.4">
          <use href="./images/icons.svg#icon-pinterest"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div class="footer-terms">
    <p class="copyright">
      <a href="#" class="terms-link">&#169; 2010 - 2020</a>
    </p>
    <p class="privacy">
      <a href="#" class="terms-link">Privacy - Terms</a>
    </p>
  </div>
</footer>
