<section class="gifts">
  <div class="gifts-container">
    <h2 class="gifts-title">Gifts for all Occasions</h2>
    <p class="gifts-text">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="gifts-list">
      <li class="gifts-item">
        <a href="#" class="gifts-link">
          <img
            src="./images/gifts-birthday.jpg"
            alt="birthday"
            width="270"
            height="270"
          />

          <div class="gifts-border">
            <h3 class="holiday-title">Birthday</h3>
            <a href="#" class="holiday-link">See More ›</a>
          </div>
        </a>
      </li>

      <li class="gifts-item">
        <a href="#" class="gifts-link">
          <img
            src="./images/gifts-anniversary.jpg"
            alt="anniversary"
            width="270"
            height="270"
          />
          <div class="gifts-border">
            <h3 class="holiday-title">Anniversary</h3>
            <button class="holiday-button" type="button">See More</button>
          </div></a
        >
      </li>
      <li class="gifts-item">
        <a href="#" class="gifts-link">
          <img
            src="./images/gifts-valentine.jpg"
            alt="valentine's day"
            width="270"
            height="270"
          />
          <div class="gifts-border">
            <h3 class="holiday-title">Valentine's Day</h3>
            <button class="holiday-button" type="button">See More</button>
          </div></a
        >
      </li>
      <li class="gifts-item">
        <a href="#" class="gifts-link">
          <img
            src="./images/gifts-christmas.jpg"
            alt="christmas"
            width="270"
            height="270"
          />
          <div class="gifts-border">
            <h3 class="holiday-title">Christmas</h3>
            <button class="holiday-button" type="button">See More</button>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
