<header class="page-header">
  <div class="container">
    <a href="" class="logo-header">logo</a>
    <nav>
      <ul class="site-nav-list-header">
        <li class="item-header"><a href="" class="link-header">Home</a></li>
        <li class="item-header"><a href="" class="link-header">About Us</a></li>
        <li class="item-header"><a href="" class="link-header">Services</a></li>
        <li class="item-header"><a href="" class="link-header">Blogs</a></li>
      </ul>
    </nav>
    <button type="button-header">Gift Finder</button>
  </div>
</header>
