
<section>
    
    <h2 class="blogs-title">Our Best Blogs Ever</h2>
    <p class="blogs-text">“Try our blog to find the best tips and tricks to select your gift”</p>

  
    <div class="blogs-wrap">
        
        <img src="/src/images/our-best-blogs-1.jpg" alt="married couple" width="400" height="370">

        
       
        <div class="blogs-wrapper">
            <p class="blogs-name">Mr. John Doe</p>
            
            <h3 class="blogs-post-title">The best way to wish <br>your wife</h3>
            
            
            
            <a class="blogs-link" href="#">Read More</a>
        </div>
        
    
    </div>
    
   

</section>