<section class="blog-list-our-best">
    <div class="container container-blog-list-our-best">
    <ul class="blog-list">
        <li class="blog-iteam">
            <h2 class="blog-title">Database to find the gifts for your <br> girlfriend</h2>
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore...</p>
            <a href="" class="blog-link">Read More</a>
        </li>
        <li class="blog-iteam">
            <h2 class="blog-title">How Artificial Intelligence read your mind to find the best giftnp</h2>
            <p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore...</p>
            <a href="#" class="blog-link">Read More</a>
        </li>
    </ul>
    </div>
</section>