<section class="ready container">
  <div class="container ready-container">
  <div class="ready__wrap">
    <h2 class="ready__title">Ready to get started?</h2>
    <p class="ready__text">Sign up or contact us</p>
  </div>
  <ul class="ready__list">
    <li class="ready__item">
      <button class="ready__button buttons-style" type="button">Find gift now</button>
    </li>
    <li class="ready__item">
      <button class="ready__button ready__button--transparent buttons-style" type="button">
        how it works
      </button>
    </li>
  </ul>
  </div>
</section>
