<section class="secon-page">
<div class="container">
<div class="image-card">
<img class="thanks-image" src="./images/secondpage.jpg" alt="media">
</div>

<div class="second-page">

<h3 class="title-of-work">How we work</h3>
<p class="work-text-title">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.</p>
<button class="work-button" type="button">Learn more</button>
</div>
</div>
</section>
